<h1>Welcome to {{hotelName}}</h1>
<app-header></app-header>


<div [hidden]="hideRooms">
    <div [innerText]="numberOfRooms" [ngStyle]="{'color': 'red', 'font-size':'30px'}"></div>
</div>


{{ rooms.availableRooms ?? 'No rooms available.' }}

<div *ngIf="selectedRoom">
    {{selectedRoom |json}}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="hideRooms">
    <app-rooms-list [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
    ></app-rooms-list>
</div>

<button (click)="toggle()" type="submit">Toggle</button>